<section id="attachCast">
    <div class="attachCastSection">
        <h1>Attach New Cast</h1>
        <div class="attach-form">
            <h2>{{movie.title}}</h2>
            <img class="movie" src="{{movie.imageURL}}" alt="{{movie.title}}">
            <form {{#if emptyCast}} class="error" {{/if}} method="post">
                {{#if emptyCast}}
                <div class="error">                    
                    {{> emptyCastMessage}}                                        
                </div>
                {{/if}}

                <label {{#if emptyCast}} class="select" {{/if}} for="cast">Cast</label>
                <select id="cast" name="cast">
                    <option value="none" selected>--------</option>

                    {{#each allCast}}
                         <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
                <div id="center-btn">
                    <button id="create-btn">Add Cast</button>
                </div>
            </form>
        </div>
    </div>
</section>