<div class="sneakers-item">
    <img src="{{image}}">
    <div>
        <h3>{{brand}} {{model}}</h3>
        <h2>{{price}}</h2>
        <p>Condition: {{condition}}</p>
        <p>Model Year: {{year}}</p>
        <p>Size: {{size}}</p>
        <a href="/details/{{_id}}" class="btn">View Details</a>
    </div>
</div>